#navstyle{
    color: white;
    background-color:#4E7425;
}

.navLink:hover{
    background-color: rgb(230, 155, 18);
    padding: 7px;
    border-radius: 6px;
}

#dropdown-basic-button{
    background-color: #4E7425;
    border: none;
}

#dropdown-basic-button:hover{
    background-color: orange;
}
/*Remove dropdown arrow from Navdropdown*/
.dropdown-toggle::after {
    display: none !important; 
  }