body{
  background-color: rgb(233, 240, 240);
}
.App {
  text-align: center; 
  
}
h1{ background-color: whitesmoke} 


.background{
  background-image: url(../src/images/vegetable_skewer.jpg);
  height: 80vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.centered {
  color:rgb(245, 7, 245);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
