
.App{
  background-color:rgb(248, 241, 233)
}
#prawntext h2,h3{
  color:orange;
  text-align: center;
  padding-top: 20px;
}

#prawntext p{
  text-align: center;
}

#prawntext li{
  list-style: none;
}

#prawntext table td p{
  text-align: start;
}

.slide1{
  color:rgb(95, 10, 86);
}
.slide2{
  color:rgba(4, 169, 4, 0.807);
}
.slide3{
  color: orange;
}
.slide4{
  color: rgb(100, 2, 2);
}
table{
  border: 1px solid  black;
  margin-left: auto;
  margin-right: auto;
  color:darkblue
}
tr:nth-child(odd) {background-color: rgb(234, 238, 234)}
tr:nth-child(even) {background-color: rgb(183, 198, 202);}
th,
td {
    width: 25%;
}

.col-lg-3{
  text-align: center;
}

.col-lg-3 h2{
  padding-top: 10px;
  color: orange;
}

.social-icons svg {
  margin: 15px;
} 
.footer {
  background-color: #81a05f;
}

.footer a{
  text-decoration: none;
  color: black;
}

.footer h3{
  text-align: start;
}

.footer .container {
  padding-top: 25px;
}